/* Media Q... */


@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
}

/* Media Q... */


@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
}





/* Banner-Responsive */

@media screen and (max-width:576px) {


    .banner-area img {
        width: 150px;
        display: block;
    }

    .banner-item {
        margin: 20px 0 0 10px;
    }

    .banner-container {
        height: fit-content;
        width: 100%;
        justify-content: center;

    }

    .banner-item h1 {
        font-size: 3rem;
        font-weight: 800;

    }

    .banner-item h3 {
        font-size: 2rem;
        font-weight: 600;

    }

    .banner-item p {
        font-size: 1rem;
        width: 80vw;
    }

    .banner-item button {
        font-size: 1rem;
        margin: 20px auto;
    }
}

/* Banner-Responsive */


/* Banner-Responsive */

@media screen and (max-width:576px) {
    .banner-area {
        height: 100vh;
    }

    .banner-area img {
        width: 150px;
        display: block;
    }

    .banner-item {
        margin: 20px 0 0 10px;
    }

    .banner-container {
        height: fit-content;
        width: 100%;
        justify-content: center;

    }

    .banner-item h1 {
        font-size: 3rem;
        font-weight: 800;

    }

    .banner-item h3 {
        font-size: 1rem;
        font-weight: 600;

    }

    .banner-item p {
        font-size: 1rem;
        width: 80vw;
    }

    .banner-item button {
        font-size: 1rem;
        margin: 20px auto;
    }
}

/* Banner-Responsive */


