@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Navbar */

/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #ff0f0f;
    --side-nav: #010718;
    --text-color: #FFF;


}
body{
    height: 100vh;
    background-color: var(--body-color);
}
body.dark{
    --body-color: #010718;
    --nav-color: #010718;
    --side-nav: #010718;
    --text-color: #CCC;
    --search-bar: #242526;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}
body.dark nav{
    border: 1px solid #393838;
}
nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}
.menu .logo-toggle{
    display: none;
}
.nav-bar .nav-links{
    display: flex;
    align-items: center;
}
.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}
.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}
.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-links li:hover a::before{
    opacity: 1;
}
.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}
.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}
.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}
.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}
.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}
.searchBox{
    position: relative;
}
.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}





/* Banner-styles */
.banner-area {
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url("../image/tv-1.jpg");
    background-size: cover;
    padding: 5%;
}

.banner-area img {
    padding-top: 80px;
    padding-left: 5%;
    padding-bottom: 0;
    width: 200px;
}

.banner-container {
    color: #fff;
    padding: 2% 5%;
    width: 70%;
    font-family: lato;
    display: flex;

}

.banner-item h3 {
    font-size: 2rem;
    font-family: Inter;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
}

.banner-item h1 {
    font-size: 4rem;
    font-weight: 800;
    cursor: pointer;
    margin: 5px 0;
}

.banner-item p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner-item button {
    margin: 20px auto ;
    background: none;
    color: #fff;
    background: linear-gradient(90deg, rgb(237, 5, 5) 0%, rgb(135, 55, 15) 100%);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.9s ease;
}

.banner-item button:hover {
    background: linear-gradient(90deg, rgb(255, 37, 37) 0%, rgb(135, 29, 15) 100%);
    box-shadow: 1px 2px 10px 2.17px rgb(13, 3, 3);

}


/* Banner-styles */




/* search-box */

.search-box input{
    border-radius: 20px;
    width: 60%;
    display: block;
    margin: 20px auto;
    outline: none;
}

#categoryFilter{
   border-radius: 20px;
   width: 60%;
   display: block;
   margin: auto;
   outline: none;
}

.channel-counter{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}

#channelList img{
   border-radius: 20px;
   transition: all 0.5s ease;
}
#channelList img:hover{
   box-shadow: 2px 2px 30px 2px rgb(61, 52, 50);
}

